:root {
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: left -70vw top -40vh, right -80vw bottom -27vh;
  background-size: 130vw, 130vw;
  background-repeat: no-repeat, no-repeat;
}

@media (min-width: 640px) {
  body {
    background-position: left -50vw top -45vh, right -60vw bottom -40vh;
    background-size: 100vw, 100vw;
  }
}

@media (min-width: 1024px) {
  body {
    background-position: left -35vw top -50vh, right -35vw bottom -55vh;
    background-size: 80vw, 80vw;
  }
}

@media (min-width: 1280px) {
  body {
    background-position: left -20vw top -50vh, right -25vw bottom -65vh;
    background-size: 65vw, 65vw;
  }
}
